.reviews-section {
  padding-top: 75px;
  padding-bottom: 150px;
}

.reviews-title {
  max-width: 854px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

.reviews-subtitle {
  max-width: 571px;
  margin: 0 auto;
  margin-bottom: 75px;

  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #b4b7ba;
}

.reviews-cards-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 376px;
  padding: 32px 28px;
  margin-left: 22px;
  border-radius: 24px;
  box-sizing: border-box;

  background-color: #fbfbfb;
}

.review-card-img {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto 24px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.review-card-name {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}

.review-card-text {
  margin: 0;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: #989899;
}
